{
  log {
      output stdout
      level DEBUG
  }
}
(mtls) {
    tls internal {
        client_auth {
            mode require_and_verify
            trust_pool file /ca/ca.crt
        }
    }
}
https://localhost:8888 {
    log {
        output stdout
        level DEBUG
    }
    import mtls
    templates
    header Content-Type text/plain
    respond "{{.RemoteIP}}"
}
